.card {
  border: 0 !important;
  border-radius: 0 !important;

  p, a {
    color: rgba(0,0,0,.65);
  }

  .title {
    font-size: 17px;
    font-weight: bold;
  }

  .by {
    font-size: 13px;
    text-decoration: underline;
  }

  .num-comments {
    font-weight: bold;
    font-size: 14px;
  }

  .comments-js {
    color: #ff6600;
    font-size: 14px;
  }
}
