<div class="container mb-3">
  <div class="card story-js">
    <div class="card-body">
      <p class="title">
        <%= link_to_if story[:detail][:url], story[:detail][:title], story[:detail][:url], target: '_blank' %>
      </p>
      <p class="by">
        by <%= story[:detail][:by] %> <%= date %>
      </p>

      <% if story[:num_comments] && story[:num_comments] > 0 %>
        <p class="num-comments"><%= story[:num_comments] %> comments</p>
        <a href="javascript:void(0);" class="comments-js" data-story-id="<%= story[:detail][:id] %>">+ Show most relevant comments</a>
      <% end %>

      <div class="comments-container-js collapse">
      </div>
    </div>
  </div>
</div>
