<%= form_tag search_stories_path, method: :get do %>
  <div class="col-md-12">
    <div class="input-group input-group-lg">
      <input class="form-control search" name="query" type="text" placeholder="Search stories" value="<%= params[:query] %>">
    </div>
  </div>
<% end %>
