<div class="container">
  <div class="py-3">
    <%= cell('story_cells/search') %>
  </div>
  <div class="row main">
    <%= cell('story_cells/sub_header') %>
    
    <div class="container">
      <% @stories.each do |story| %>
        <%= cell('story_cells/item', story) %>
      <% end %>
    </div>
  </div>
</div>
