@import "variables";

.header {
  background-color: $primary_color;

  a {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    vertical-align:middle;
  }

  img {
    border: 1px white solid;
  }
}

.main {
  background-color: $light_grey;
}

.turbolinks-progress-bar {
  background-color: $primary_color;
}
